.stars-input .star { cursor: pointer; }

.stars-row {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  gap: 0.25rem;
  color: $warning;

  .star {
    @extend .bi, .bi-star;

    &.half-star { @extend .bi-star-half; }
    &.full-star, &.active { @extend .bi-star-fill; }
  }

}

