<turbo-frame id="current-user-review">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <%= render 'shared/stars', value: review.rating %>
        <div class="d-flex gap-2">
          <%= link_to edit_review_path(review), class: 'btn btn-primary', data: { 'turbo-stream': '' } do %>
            <i class="bi bi-pencil"></i>
          <% end %>
          <%= button_to review_path(review), method: :delete, class: 'btn btn-danger' do %>
            <i class="bi bi-trash"></i>
          <% end %>
        </div>
      </div>
      <div>
        <%= review.comment %>
      </div>
    </div>
  </div>
</turbo-frame>
