<turbo-frame id="current-user-review">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <%= render 'shared/stars', value: review.rating %>
                  <div class="d-flex align-items-center">
                    <%= link_to edit_review_path(review), class: 'text-dark me-3', data: { 'turbo-stream': '' } do %>
                      <i class="bi bi-pencil-fill fs-4"></i>
                    <% end %>

                    <%= link_to review_path(review), method: :delete, class: 'text-danger', data: { 'turbo-frame': '' } do %>
                      <i class="bi bi-trash-fill fs-4"></i>
                    <% end %>
                  </div>
      </div>
      <div>
        <%= review.comment %>
      </div>
    </div>
  </div>
</turbo-frame>
