<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <%= link_to "Movie Ratings", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Movies", root_path, class: "nav-link #{"active" if current_page?(root_path)}" %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to '/users/1', class: 'nav-link d-flex align-items-center' do %>
            User#1
            <%= image_tag('user_0_avatar.jpg', class: 'avatar rounded-circle ms-2', size: '30x30') %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
